<div class="container">
  <div class="row">
    <div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>User Profile</h4>
        </div>
        <div class="panel-body">
          <div class="box box-info">
            <div class="box-body">
              <div class="col-sm-6">
                <div class="row" *ngIf="user">
                  <div>
                    <label class=newbtn>
                      <img id="blah" [src]="user.img_profile">
                      <input id="pic" class='pis'  type="file" (change)="upload($event)">
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <h4 style="color:rgb(60, 141, 188);">Prasad Shankar Huddedar</h4>
                <span>
                  <p>Aspirant</p>
                </span>
              </div>
              <div class="clearfix"></div>
              <hr style="margin:5px 0 5px 0;" />
              <div class="col-sm-5 col-xs-6 tital ">First Name:</div>
              <div class="col-sm-7 col-xs-6 ">Prasad</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Middle Name:</div>
              <div class="col-sm-7">Shankar</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Last Name:</div>
              <div class="col-sm-7">Huddedar</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Date Of Joining:</div>
              <div class="col-sm-7">15 Jun 2016</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
              <div class="col-sm-7">11 Jun 1998</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Place Of Birth:</div>
              <div class="col-sm-7">Shirdi</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Nationality:</div>
              <div class="col-sm-7">Indian</div>
              <div class="clearfix"></div>
              <div class="bot-border"></div>
              <div class="col-sm-5 col-xs-6 tital ">Relition:</div>
              <div class="col-sm-7">Hindu</div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
