<div class="row">
  <div class="col-md-3 col-xs-12">
    <mk-box-small header="150" backgroundColor="aqua" iconStyleClass="fa fa-shopping-cart">
      <mk-box-small-content>41,410</mk-box-small-content>
      <mk-box-small-footer>
        <a routerLink="/">More info <i class="fa fa-arrow-circle-right"></i></a>
      </mk-box-small-footer>
    </mk-box-small>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-small header="53%" backgroundColor="green" iconStyleClass="ion ion-stats-bars">
      <mk-box-small-content>Bounce Rate</mk-box-small-content>
      <mk-box-small-footer>
        <a routerLink="/">More info <i class="fa fa-arrow-circle-right"></i></a>
      </mk-box-small-footer>
    </mk-box-small>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-small header="44" backgroundColor="yellow" iconStyleClass="ion ion-person-add">
      <mk-box-small-content>User Registrations</mk-box-small-content>
      <mk-box-small-footer>
        <a routerLink="/">More info <i class="fa fa-arrow-circle-right"></i></a>
      </mk-box-small-footer>
    </mk-box-small>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-small header="65" backgroundColor="red" iconStyleClass="ion ion-pie-graph">
      <mk-box-small-content>Unique Visitors</mk-box-small-content>
      <mk-box-small-footer>
        <a routerLink="/">More info <i class="fa fa-arrow-circle-right"></i></a>
      </mk-box-small-footer>
    </mk-box-small>
  </div>
</div>
