<div class="row">
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Messages" iconBackgroundColor="aqua" iconStyleClass="fa fa-envelope-o">
      1,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Bookmarks" iconBackgroundColor="green" iconStyleClass="fa fa-flag-o">
      410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Uploads" iconBackgroundColor="yellow" iconStyleClass="fa fa-flag-o">
      13,648
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Uploads" iconBackgroundColor="red" iconStyleClass="fa fa-star-o">
      93,139
    </mk-box-info>
  </div>
</div>

<div class="row">
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Bookmarks" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="aqua" iconStyleClass="fa fa-bookmark-o">
      41,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Likes" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="green" iconStyleClass="fa fa-thumbs-o-up">
      41,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Events" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="yellow" iconStyleClass="fa fa-calendar">
      41,410
    </mk-box-info>
  </div>
  <div class="col-md-3 col-xs-12">
    <mk-box-info header="Comments" footer="70% Increase in 30 Days" progressWidth="70" backgroundColor="yellow" iconStyleClass="fa fa-comments-o">
      41,410
    </mk-box-info>
  </div>
</div>
