<ng-container *ngIf="customLayout; else noCustomLayout">
  <router-outlet></router-outlet>
</ng-container>
<ng-template #noCustomLayout>
  <mk-layout-wrapper>
    <mk-layout-header logoLink="/precios/lista">
      <mk-layout-header-logo>
        <b>Precio</b>Compara </mk-layout-header-logo>
         <mk-layout-header-logo-mini><b>P</b>C</mk-layout-header-logo-mini>
      <app-header-inner></app-header-inner>
    </mk-layout-header>
    <mk-layout-sidebar-left>
      <app-sidebar-left-inner></app-sidebar-left-inner>
    </mk-layout-sidebar-left>
    <mk-layout-sidebar-right>
      <app-sidebar-right-inner></app-sidebar-right-inner>
    </mk-layout-sidebar-right>

    <mk-layout-content>
      <div mk-layout-content-before-header class = "margen-top">
        <div class = "margen-top" *mkLoadingPage="{checkPendingHttp: true, checkPendingRoute: true}">
        </div>
      </div>

      <router-outlet></router-outlet>
    </mk-layout-content>

    <mk-layout-footer>
      <mk-layout-footer-left>
          <i class="fa fa-empire"> </i>
        <strong> Powered by <a>MAVM</a>.</strong>

      </mk-layout-footer-left>
      <mk-layout-footer-right>
        <b>Version</b> 1.0.0
      </mk-layout-footer-right>
    </mk-layout-footer>
  </mk-layout-wrapper>
</ng-template>
