<div class="navbar-custom-menu">
  <ul class="nav navbar-nav" *ngIf="user">
    <!-- Messages: style can be found in dropdown.less -->
    <li mk-dropdown type="list" [isWrapper]="false" class="user user-menu">
      <mk-dropdown-toggle>
        <a #toggleElement>
          <img   [src]="user.img_profile" class="user-image" alt="User Image">
          <span class="hidden-xs">Alejandro VM</span>
        </a>
      </mk-dropdown-toggle>
      <mk-dropdown-menu> 
    <li class="user-header">
      <img *ngIf="user.img_profile" [src]="user.img_profile" class="img-circle" alt="User Image">
      
      <p *ngIf="user">
        {{user.email}}
      </p>
    </li>
    <li class="user-body">
      <!--<div class="row">
            <div class="col-xs-4 text-center">
              <a href="#">OP-1</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">OP-2</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">OPT-3</a>
            </div>
          </div>!-->
    </li>
    <li class="user-footer">
      <div class="pull-left">
        <a href="/profile" class="btn btn-default btn-flat">Perfil</a>
      </div>
      <div class="pull-right">
        <a href="/" class="btn btn-default btn-flat" (click)="onLogout()">Salir</a>
      </div>
    </li>
    </mk-dropdown-menu>
    </li>
  </ul>
</div>
