<ngx-spinner bdOpacity=0.7 bdColor="#ecf0f5" size="large" color="#4ed7ea" type="ball-fussion" [fullScreen]="true">
  <p style="color: #4ed7ea"> Loading... </p>
</ngx-spinner>
<div class="container-fluid">
  <nav class="navbar">
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-primary" type="submit" (click)="compatir(template)">Compartir</button>
      <button class="btn btn-outline-primary" type="submit" (click)="nuevoBusqueda()">Nueva Busqueda</button>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-5">
        <input type="text" class="form-control mr-sm-2" placeholder="Articulo" [(ngModel)]="text" />
        <div class="input-group-append">
          <button class="btn btn-outline-primary" (click)="find()">
            Buscar ...
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5 col-xs-12" [formGroup]="optionCadenasForm">
          <mk-box [isSolid]="true" boxColor="#fff" [isCollapsable]="true" [isRemovable]="false" header="Tiendas" [isCollapsed]="true">
            <mk-accordion-group [isMultiple]="false">
              <mk-accordion [header]="c.category" *ngFor="let c of options">
                <label class="form-check" *ngFor="let branch of c.branches">
                  <input class="form-check-input" type="checkbox" [formControlName]="branch.name_control" />
                  <span class="form-check-label">
                    {{branch.title}}
                  </span>
                </label>
              </mk-accordion>
            </mk-accordion-group>
          </mk-box>
        </div>
      </div>
    </div>
  </div>
  <div class="container col-md-12">
    <hr />
    <h5 p class="text-center" *ngIf="show">Filtros</h5>
    <div class="row" *ngIf="show">
      <div class="col-md-5 col-xs-12">
        <mk-box [isSolid]="true" boxColor="#fff" [isCollapsable]="true" [isRemovable]="false" header="Tiendas" [isCollapsed]="true">
          <mk-accordion-group [isMultiple]="false" [formGroup]="optionCadenasForm">
            <mk-accordion header="Refine busqueda por Tiendas">
              <label class="form-check" *ngFor="let filtroTienda of filtroTiendas">
                <input class="form-check-input" type="checkbox" [formControlName]="filtroTienda.name_control" />
                <span class="form-check-label">
                  {{filtroTienda.title}}
                </span>
              </label>
            </mk-accordion>
          </mk-accordion-group>
        </mk-box>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-md-5">
        <div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Contiene..." [(ngModel)]="filterPost">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="show">
      <div class="col-md-5">
        <mk-box [isSolid]="true" boxColor="#fff" [isCollapsable]="true" [isRemovable]="false" header="Rango precios" [isCollapsed]="true">
          <div class="card">
            <article class="card-group-item ">
              <div class="card-body">
                <div class="form-row">
                  <div class="form-group col-md-6 text-center">
                    <label>Min</label>
                    <input type="number" class="form-control" name="filterPriceMin" [(ngModel)]="filterPriceMin">
                  </div>
                  <div class="form-group col-md-6  text-center">
                    <label>Max</label>
                    <input type="number" class="form-control" name="filterPriceMin" [(ngModel)]="filterPriceMax">
                  </div>
                </div>
              </div> <!-- card-body.// -->
            </article> <!-- card-group-item.// -->
          </div> <!-- card.// -->
        </mk-box>
      </div>
    </div>
    <!-- row.// -->
  </div>
  <!--container end.//-->
  <h5 *ngIf="show" class="text-center">Resultados</h5>
  <hr />
  <p></p>
  <pagination-controls *ngIf="show" (pageChange)="p = $event"></pagination-controls>
  <div class="card-group" *ngIf="show">
      <div class="col-md-3" *ngFor="let item of busqueda$ | async | filtros: { search: filterPost, min : filterPriceMin, max : filterPriceMax, tiendas: optionCadenasForm.value } | paginate: { itemsPerPage: 16, currentPage: p }">
      <div class="card box">
        <img class="card-img-top img" [src]="item.imagen" />
        <img *ngIf="item.cadena == 'HEB'" src="assets/img/heb.png" class="center" />
        <img *ngIf="item.cadena == 'Soriana'" src="assets/img/soriana.png" class="center" />
        <img *ngIf="item.cadena == 'liverpool'" src="assets/img/liverpool.png" class="center" />
        <img *ngIf="item.cadena == 'sears'" src="assets/img/sears.jpeg" class="center" />
        <img *ngIf="item.cadena == 'bestbuy'" src="assets/img/bestbuy.png" class="center" />
        <img *ngIf="item.cadena == 'sanborns'" src="assets/img/sanborns.png" class="center" />
        <img *ngIf="item.cadena == 'Farmacias Del Ahorro'" src="assets/img/farmacias_del_ahorro.jpg" class="center" />
        <img *ngIf="item.cadena == 'WalMart' || item.cadena == 'SuperWalMart'" src="assets/img/walmart.png" class="center" />
        <img *ngIf="item.cadena == 'HomeDepot'" src="assets/img/homedepot.png" class="center" />
        <img *ngIf="item.cadena == 'Pcel'" src="assets/img/pcel.png" class="center" />
        <img *ngIf="item.cadena == 'Costco'" src="assets/img/costco.png" class="center" />
        <img *ngIf="item.cadena == 'Superama'" src="assets/img/superama.png" class="center" />
        <img *ngIf="item.cadena == 'DelSol'" src="assets/img/del_sol.png" class="center" />
        <img *ngIf="item.cadena == 'officedepot'" src="assets/img/office_depot.png" class="center" />
        <img *ngIf="item.cadena == 'Office Max'" src="assets/img/officemax.jpg" class="center" />
        <img *ngIf="item.cadena == 'BodegaAurrera'" src="assets/img/bodega_aurrera.png" class="center" />
        <img *ngIf="item.cadena == 'PalacioHierro'" src="assets/img/palacio_hierro.jpeg" class="center" />
        <img *ngIf="item.cadena == 'Marti'" src="assets/img/marti.jpeg" class="center" />
        <img *ngIf="item.cadena == 'InnovaSport'" src="assets/img/innova_sport.png" class="center" />
        <img *ngIf="item.cadena == 'Chedraui'" src="assets/img/chedraui.png" class="center" />
        <div class="card-body">
          <h5 class="card-title">{{ item.titulo }}</h5>
        </div>
        <h4 class="card-title" class="text-center">
          <strong> {{ item.precio | currency }}</strong>
        </h4>
        <a href="{{ item.enlace_informacion }}" target="_blank">
          <button type="button" class="btnx btn-primary btn-block">
            Comprar
          </button>
        </a>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="form-inline my-2 my-lg-0">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="agregarCarrito(item)">Agregar Carrito</button>
          </div>
        </nav>
      </div>
    </div>
  </div>
  <p></p>
  <pagination-controls *ngIf="show" (pageChange)="p = $event"></pagination-controls>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Compartir</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="destacadoForm">
    <div>
      <div class="form-group">
        <label for="exampleInputEmail1">Etiqueta</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Etiqueta" formControlName="etiqueta">
      </div>
      <div class="form-group" formArrayName="articulos">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let item of articulosForm.controls; let i = index;">
            <div class="row">
              <div class="col-md-6">
                <div [formGroupName]="i">
                  <input type="checkbox" formControlName="selected">
                  <p>{{item.value.titulo}} </p>
                  <p> {{item.value.cadena}}</p>
                  <p> {{item.value.precio}}</p>
                </div>
              </div>
              <div class="col-md-6">
                <img class="card-img-top img" src="{{ item.value.imagen }}" />
              </div>
            </div>
          </li>
        </ul>
      </div>
      <button type="submit" class="btn btn-primary" (click)="guardarDestacado()">Guardar</button>
    </div>
  </div>
</ng-template>
